*{box-sizing : border-box;
}
nav ul li{
    display: inline-block; 
   
    margin-left: 200px;
    

   
  
}



#log {
    position: relative;
    top: 30px;
}
header div{
    display:block;
    background-color: rgb(34, 40, 46);
    margin-top: 40px;
    height: 130px; ;
    
    
}
#first {

    margin-top: 20px;
    display: block;
    margin-left: 18%;
}
article div{
    display: inline-block;

position: relative;
top:20px;
left: 250px;
margin: 15px;
    
}
section{
    display:inline-block;
    position: relative;
    left :262px;
    top: 20px;


}
footer{
    display: block;
    background-color: rgb(34, 40, 46);
    height: 100px;
    margin-top: 30px;
}


section p {
    width: 400px;
    height: 350px;
    overflow: scroll;
}



button {
    background-color: black;
    color: blanchedalmond;
    height: 20px;
    width: 150px;
}